#showAll
	div.showAll
		if posts !== null
			dl
				- for(var i = 0; i< posts.length; i++)
					div.block
						dt issuer
						dd= posts[i].username	
						dt post content
						dd= posts[i].poday.getDate() +'/'+(posts[i].poday.getMonth()+1) +'/' + posts[i].poday.getFullYear()+' '+ posts[i].potime
						dd= posts[i].post
						if posts[i].userid == user.id
							a.button(href="/editPost"+'?postid='+posts[i].postid+'&username='+posts[i].username) edit
						if comments[i].length > 0
							dt post comment
							br
							-for(var j = 0; j<comments[i].length; j++)
								dd= comments[i][j].username + ' ' + comments[i][j].comday.getDate() +'/' + (comments[i][j].comday.getMonth()+1) +'/'+ comments[i][j].comday.getFullYear() + ' '+ comments[i][j].comtime
								dd= comments[i][j].comment
						div.addCom
							form(action="/addComment" method="get")
								input(type="hidden" id="postid" name="postid" value=posts[i].postid)
								input(type="textarea" id="newComm" name="newComm" placeholder="add a comment...")
								input(type="submit" value="submit")
					br.


		
