#showAll
	div.showAll
		if posts !== null
			dl
				- for(var i = 0; i< posts.length; i++)
					div.block
						dt issuer
						dd= posts[i].userid		
						dt post content
						dd= posts[i].poday + posts[i].potime
						dd= posts[i].post
						-for(var j = 0; j<comments[i].length; j++)
								dt post comment
								dd= comments[i][j].userid +' '+ comments[i][j].comday + comments[i][j].comtime
								dd= comments[i][j].comment
					br
				

		
